{
  "extends": [
    "airbnb",
    "plugin:node/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "./client/tests/*",
    "./client/styles/*"
  ],
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "node/file-extension-in-import": [
      "error",
      "always"
    ],
    "node/prefer-global/buffer": [
      "error",
      "always"
    ],
    "node/prefer-global/console": [
      "error",
      "always"
    ],
    "node/prefer-global/process": [
      "error",
      "always"
    ],
    "node/prefer-global/url-search-params": [
      "error",
      "always"
    ],
    "node/prefer-global/url": [
      "error",
      "always"
    ],
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "error",
    // javascript
    "semi": 0,
    "camelcase": 1,
    "no-unused-vars": 1,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-param-reassign": 1,
    "consistent-return": 1,
    "no-use-before-define": 1,
    // prettier
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120,
        "tabWidth": 2,
        "tabs": false,
        "arrowParens": "avoid"
      }
    ]
  }
}