@import '../../../scss/style';

.users {
  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $lightGrey;
    padding: 32px 0 24px 24px;
  }

  &__inner-block {
    max-width: 800px;
    height: auto;
    max-height: 800px;
    background-color: $totalWhiteColor;
    border-radius: 16px;
    overflow-y: auto;
  }

  &__names {
    cursor: pointer;
    padding: 16px 0 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $totalBlackColor;

    &-ban {
      cursor: pointer;
      padding: 16px 0 16px 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: red;
    }
  }

  &__underline {
    max-width: 752px;
    border: 1px solid #F2F2F7;
  }

  &__modal {
    padding: 20px;

    &-crutch {
      display: inline-block;
      padding: 15px;
    }


    &-info {
      text-align: left;
      padding-bottom: 15px;
      font-size: 20px;
    }

    &-control {
      display: flex;
      justify-content: space-evenly;


      &-red {
        background-color: red;
      }

      &-gray {
        background-color: $greyColor;
        cursor: not-allowed;
      }

      &-yellow {
        background-color: yellow;
      }
    }

    &-inner-title {
      padding-bottom: 25px;
    }

    &-email {
      user-select: none;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.title-users {
  @media (max-width: 538px) {
    flex-direction: column;
    text-align: center;
    font-size: 26px;
  }
}

  .users__modal-control-red,
  .users__modal-control-yellow,
  .users__modal-control-gray,
  .users__modal-control-green {
    @media (max-width: 535px) {
      font-size: 13px;
      padding: 5px 7%;
    }
    @media (max-width: 440px) {
      font-size: 13px;
      padding: 5px 3%;
    }
    }
