@import "../../../../scss/style";

.description {
  color: $totalBlackColor;
  min-height: 130px;
  margin-bottom: 24px;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}