@import "../../../../scss/style";

.image-block {
  max-width: 180px;

  &__form {
    &-image-block {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background: $totalWhiteColor;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        vertical-align: middle;
        object-fit: cover;
      }
    }

    &-file {
      display: none;
    }

    &-button {
      font-size: 16px;
      background: $totalWhiteColor;
      border-radius: 57px;
      margin-top: 16px;
      padding-right: 29px;
      padding-left: 29px;
    }
  }
}