@import "../../../scss/style";

.block-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background: $totalWhiteColor;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 27px;
  flex-wrap: wrap;

  &__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 110px;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    color: $blueDarkColor;

    @include xl {
      padding-left: 60px;
      padding-right: 60px;
    }

    &:hover {
      background: $greyColor;
      box-shadow: 0 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
    }
  }
}