@import '../../scss/style';

.header-2 {
  padding: 21px 0;
  border-bottom: 2px solid $darkGreenColor;
  background: $darkGreenColor;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}