@import '../../scss/style';

.icon-style {
  display: block;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;

  & path {
    fill: #D1D1D6;
    transition: 0.3ms;
  }
}

.remove-button {
  cursor: pointer;
  position: absolute;
  width: 19px;
  height: 24px;
  background-size: cover;
  background-position: center;
  top: 24px;
  right: 27px;
  border: none;
  background-color: transparent;

  &:hover path {
    fill: $totalRedColor;
    transition: 0.3ms;
  }

  & path {
    transition: all .3s ease;
  }
}

.stripes-button {
  width: 16px;
  height: 11px;
}

.check-button {
  width: 24px;
  height: 24px;
}

.question-block {
  width: 100%;
  background: $totalWhiteColor;
  border-radius: 16px;
  padding: 24px 24px;
  color: $blackDarkColor;
  margin-bottom: 20px;
  position: relative;

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__stripes {
    margin-left: 18px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .border-style {
    border: 2px solid $greyColor;
    border-radius: 8px;
    height: 40px;
  }

  &__input {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 19px 11px 19px;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 17px;
  }

  &__answer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .question-block__answer-buttons {
      opacity: 1;
      pointer-events: all;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-input {
      flex: 1;
      width: 100%;
      padding: 12px 19px 11px 19px;
      text-overflow: ellipsis;

      &,
      &::placeholder {
        font-size: 14px;
        line-height: 17px;
      }

      &::placeholder {
        color: $whiteBorderColor;
      }
    }

    &-checkbox {
      width: 280px;
      margin-left: 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      padding: 11px 0 11px 27px;

      &:hover input[type=checkbox]:not(:checked) ~ p::before {
        background-color: lighten($lightGreenColor, 45%);
      }

      input[type=checkbox] {
        opacity: 0;
        width: 0;
        height: 0;

        &:not(:checked) ~ p::before {
          border: 2px solid $greyColor;
        }

        &:checked ~ p::before {
          background-image: url("../../assets/icons/green-check.svg");
        }
      }

      p {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 17px;

        &::before {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          border-radius: 2px;
          margin-right: 19px;
          transition: all .7s ease;
        }
      }
    }

    &-buttons {
      opacity: 0;
      pointer-events: none;
      transition: all .2s ease-in;
      display: flex;
      align-items: center;
    }

    &-remove {
      margin-left: 18px;

      &:hover path {
        fill: $totalRedColor;
        transition: 0.3ms;
      }

      & path {
        transition: all .3s ease;
      }
    }
  }

  &__add-button {
    font-weight: 700;
    font-size: 16px !important;
    line-height: 20px;
    margin-bottom: 20px;

    &:hover {
      background: $whiteBorderColor;
    }
  }
}