@import '../../scss/style';

.about {
  background: $darkGreenColor;
  margin-bottom: 45px;
  position: relative;

  &_con {
    display: flex;

    &_left {
      width: 40.7%;

      &_imgUnderBlock {
        position: absolute;
        left: 9.5%;
        top: 0;
        @include xxl {
          left: 3%;
        }
        @include xfl {
          width: 50%;
          top: 60%;
          left: -60px;
          transform: translateY(-50%);
        }

        &_image {
          width: 100%;
        }
      }

      &_imgUpBlock {
        position: absolute;
        left: 12.4%;
        top: 12%;
        @include xxl {
          left: 6%;
        }
        @include xfl {
          left: 0;
          width: 40%;
          top: 60%;
          transform: translateY(-50%);
        }

        &_image {
          width: 100%;
        }
      }
    }

    &_right {
      width: 59%;

      &_title {
        position: relative;
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        color: $lightGreenColor;
        padding-left: 80px;
        margin-top: 100px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 4px;
          background: url("../../assets/logo/Vector.svg") 0 0 no-repeat;
          width: 48px;
          height: 37px;
        }
      }

      &_sub-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        color: $totalWhiteColor;
        margin-bottom: 24px;
      }

      &_text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $totalWhiteColor;
        margin-bottom: 100px;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {

    position: relative;
    text-align: center;

    &_con {
      display: flex;
      flex-direction: column;

      &_left img {
        position: absolute;
        left: 100%;
        width: 100%;
        filter: blur(3px);
      }

      &_right {
        background: transparent;
        z-index: 2;
        width: 80%;

        &_title {
          font-size: 27px;

          &::before {
            left: 10%;
          }
        }

        &_sub-title {
          font-size: 24px;
        }
      }
    }
  }
}

