$totalBlackColor: #000000;
$blueDarkColor: #1C1C1E;
$darkGreenColor: #152200;
$blackDarkColor: #2C2C2E;
$lightGrey: #828282;
$totalWhiteColor: #FFFFFF;
$darkGreyColor: #E5E5EA;
$greyColor: #F2F2F7;
$silverColor: #F5F5F5;
$whiteBorderColor: #D1D1D6;
$lightGreenColor: #ADFA00;
$totalRedColor: #FF0000;
$hardRedColor: #FF3B30;
